.container-fluid {
    background-color: #151515;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* nav */
.col-3 {
    height: 100vh;
}

ul{
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.nav img {
    width: 100%;
}

.nav-link {
    letter-spacing: 0.3rem;
}

a {
    color: #fff;
}

a:hover {
    color: #aaa;
}

a:active {
    color: #fff;
    font-weight: 700;
}

.icon-wrapper {
    padding: 0;
}

.icon-wrapper p {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

.icon-placeholder {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.icon-placeholder img {
    object-fit: contain;
    filter: invert(100);
}

.footer p {
    font-size: 0.1rem;
    letter-spacing: 0.2rem;
}

/* sections */
.home {
    height: 100vh;
    background-image: url('assets/holy-smokes-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.item-title {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.item-caption {
    font-size: 0.5rem;
    font-weight: 300;
}

.menu {
    height: auto;
}

#menu-appetizers-mobile {
    display: none;
}

.appetizers-grid img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.sides-grid img {
    max-width: 100%;
    min-width: 150px;
    height: auto;
}

.item-placeholder {
    height: 300px;
}

.item-placeholder img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.d-flex {
    flex-direction: column;
}

/* map */
#map {
    height: 300px;
}

/* mobile */
@media screen and (max-width: 1000px) {
    .block {
        display: block;
    }

    #sides-item-content {
        display: none;
    }

    #menu-appetizers-desktop {
        display: none;
    }

    #menu-appetizers-mobile {
        display: block;
    }

    .sides-grid img {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}